.favorite-product {
    width: 200px;
    height: 270px;
    background: #f5f5f5;
    overflow: hidden;
    position: relative;
}

.favorite-product img {
    width: 100%;
    cursor: pointer;
    border-radius: 10px 10px 0 0;
    transition: transform 0.3s ease;
}

.favorite-product img:hover {
    transform: scale(1.05);
}

.favorite-product-name {
    font-size: 0.8rem;
    margin: 5px 23px;
}

.favorite-product-price {
    margin: 10px 10px;
    color: #5fa36a;
}

.favorite-product-quantity {
    margin: 0.2rem;

}


.favorite-product-add-to-cart {
    position: absolute;
    right: 5px;
    bottom: 5px;
    background: #ca5252;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 35px;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 600;
    transition: transform 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.favorite-product-add-to-cart:hover{
    transform: scale(1.2) translatey(-1px);
}

