.product {
    width: 350px;
    margin-bottom: 50px;
    height: 540px;
    background: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.product-img-container{
    max-width: 350px;
    max-height: 320px;
}
.product img {
    width: 350px;
    height: 320px;
    cursor: pointer;
    border-radius: 10px 10px 0 0;
    transition: transform 0.3s ease;
}

.product img:hover {
    transform: scale(1.05);
}

.product-name {
    margin: 10px 20px;
}

.product-desc {
    margin: 10px 20px;
    color: #333;      
}

.product-price {
    margin: 10px 20px;
    color: #5fa36a;
}

.product-botton {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;   
    margin: 0 10px 5px 10px;

}

.product-right{
    display: flex;
    align-items: center;
}

.product-wish-btn {
    width: 30px;
    height: 30px;
    margin-right: 0.5rem;
    transition: transform 0.3s ease;

}

.product-add-to-cart {
    width: 35px;
    height: 35px;
    color: #ca5252;
    cursor: pointer;
    transition: transform 0.3s ease;
}





.product-add-to-cart:hover,
.product-wish-btn:hover{
    transform: scale(1.1) translatey(-1px);
}


/* .product {
    width: 350px;
    min-height: 550px;
    margin-bottom: 50px;
    background: #f5f5f5;
    overflow: hidden;
    position: relative;
    padding-bottom: 20px;
}

.product img {
    width: 350px;
    cursor: pointer;
    border-radius: 10px 10px 0 0;
    transition: transform 0.3s ease;
}

.product img:hover {
    transform: scale(1.05);
}

.product-name {
    margin: 10px 20px;
}

.product-desc {
    margin: 10px 20px;
    color: #333;      
}

.product-price {
    margin: 10px 20px;
    color: #5fa36a;
}

.product-quantity {
    position: absolute;
    bottom: 5px;
    left: 10px;
}

.product-right{
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
   
    
}

.product-wish-btn {
    width: 35px;
    height: 35px;
    margin-right: 0.5rem;
}

.product-add-to-cart {
    background: #ca5252;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 600;
    transition: transform 0.3s ease;
}



/* .product-add-to-cart {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: #ca5252;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 600;
    transition: transform 0.3s ease;
} */

/* .product-add-to-cart:hover{
    transform: scale(1.1) translatey(-1px);
} */ 







