.home-container{
    max-width: 1280px;
    margin: 0 auto;
}

.favorite-products-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.products-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}