.home-container{
    max-width: 1280px;
    margin: 0 auto;

}

.products-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}