.nav-container{
  max-height: 60px;
  width: 100%;
  background-color: #2a3239;
  margin: 0 auto;
}

.navbar{
  display: flex;
  justify-content: space-between;
  list-style: none;
  color: rgb(253, 253, 253);
}

.nav-logo {
  margin-left: 30px;
}

li.active {
  opacity: 0.5;
}


.navbar li:hover {
  opacity: 0.5;
}

.nav-routes {
  padding-top: 8px;
  display: flex;
  gap: 20px;
  text-transform: uppercase;
  font-size: 25px;
  margin-right: 30px;
}

.nav-routes li {
  cursor: pointer;
  
}

.nav-routes li a
{
  text-decoration: none;
  color: rgb(253, 253, 253);
}

.shop-cart-btn {
  cursor: pointer;
}

.shop-cart-btn:hover,
.shop-cart-btn.active{
  color: #dc3d3d;
}

.nav-mobile{
  display: none;
  cursor: pointer;
  font-size: 25px;
}

@media screen and (max-width: 866px) {
    .nav-container {
      max-height: 60px;
      width: 100%;
      margin: 0 auto;
      background-color: #2a3239;
      display: flex;
      justify-content: space-between;
    }
  
    .nav-routes {
      display: flex;
      font-size: 10px;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      position: fixed;
      top: 45px;
      right: -300px;
      width: 100px;
      background: #2a3239;
      padding: 20px;
      transition: 0.3s ease-in-out;
      z-index: 9999;
    }
  
    .nav-mobile {
      display: block;
      margin: 20px 40px 0 0;
    }
  
    .nav-routes.active {
      margin: 0 0px;
      right: 0;
    }
  
    li.active {
      background: brown;
      width: 100px;
    }
  }