.nav-container{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  max-height: 44px;
  background-color: #2a3239;
  margin: 0 auto;
  z-index: 9999;

}

.navbar{
  display: flex;
  justify-content: space-between;
  list-style: none;
  color: rgb(253, 253, 253);
}

.nav-logo {
  margin-left: 30px;
  z-index: 9999;

}

.navbar li.active,
.navbar li:hover  {
  opacity: 0.5;
  cursor: pointer;
}


.nav-routes {
  padding-top: 8px;
  display: flex;
  gap: 20px;
  text-transform: uppercase;
  font-size: 25px;
  margin-right: 30px;
}

.nav-routes li a
{
  text-decoration: none;
  color: rgb(253, 253, 253);
}

.shop-cart-btn:hover,
.shop-cart-btn.active{
  color: #dc3d3d;
  opacity: 1 !important;
}

.nav-mobile{
  display: none;
  cursor: pointer;
  font-size: 25px;
  z-index: 9999;

}

@media screen and (max-width: 866px) {
    .nav-mobile {
      display: block;
      margin: 0.7rem 2rem 0 0;
    }

    .nav-routes {
      margin: 0;
      height: 100%;
      right: -300px;
      flex-direction: column;
      z-index: 999;
      align-items: center;
      background-color: #2a3239;
      position: fixed;
      top: 2.7rem;
      font-size: 1.2rem;
      transition: 0.2s ease-in-out;
      padding: 0 0.3rem 0.3rem 0.2rem;
    }

    .nav-routes.active {
      right: 0;
      height: 100%;
    }
}

@media screen and (max-width: 600px) {
  .nav-routes {
    width: 100%;
    height: 22%;
    top: -10rem;
    left: 0;
    flex-direction: column;
    z-index: 200;
    align-items: center;
    background-color: #2a3239;
    position: fixed;
    font-size: 1.2rem;
    transition: 0.5s ease-in-out;
  }

  .nav-routes.active {
    top: 2.7rem;
    height: 22%;

    right: 0;
  }
  
}