.header-main-banner {
    margin: 20px 0;
    background: url('../img/sport-equipment-banner-ball-games-fitness-items-rugby-badminton-soccer-basketball-cartoon-sports-sale-vector-poster-sport-game-shop-banner-soccer-ball-basketball-illustration_102902-3896.jpg') no-repeat;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-color: #bcbcbc;
    position: relative;
}

.header-main-banner::after{
    content: 'Best balls for you';
    position: absolute;
    top: 50px;
    left: 50px;
    width: 300px;
    font-size: 30px;
    font-weight: 600;
    color: #fff;
}

.header-main-banner::before{
    content: 'Just choose';
    position: absolute;
    top: 100px;
    left: 50px;
    width: 300px;
    font-size: 20px;
    font-weight: 300;
    color: #fff;
}