header {
    position: relative;
}

.header-logo {
    font-weight: 600;
    font-size: 20px;
}

.header-nav {
    float: right;
    list-style: none;
}

.header-nav li {
    display: inline ;
    margin-left: 25px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.header-nav li:hover {
    opacity: 0.5;
}

.header-shop-cart-btn {
    float: right;
    cursor: pointer;
    transition: color 500ms ease;
}

.header-shop-cart-btn:hover,
.header-shop-cart-btn:active{
    color: #dc3d3d;
}

.header-shop-cart{
    position: absolute;
    top: 30px;
    right: 0;
    width: 450px;
    background: #fafafa;
    box-shadow: 4px 5px 5px -7px rgba(0,0,0,1);
    z-index: 1000;
    padding: 20px;
    padding-bottom: 0;
}

.header-empty h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.header-main-banner {
    margin: 50px 0;
    background: url('../img/5fc114813677d66ede3dfdb3_Dimensions-Sports-Balls-3D-OG.jpg') no-repeat;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-color: #bcbcbc;
    position: relative;
}

.header-main-banner::after{
    content: 'Best balls for you';
    position: absolute;
    top: 100px;
    left: 50px;
    width: 300px;
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}

.header-main-banner::before{
    content: 'Just choose';
    position: absolute;
    top: 250px;
    left: 50px;
    width: 300px;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
}